body{
    color: white;
    margin: 0;
    background-color: #010409;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/* LEFT PAGE */

#LEFT{
    position: absolute;
    height: 200%;
    width: 22%;
    background-color: #0d1117;
    border-right: solid #3a485c 0.1px;

}

/* TOP PAGE */

#TOP{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #161b22;
    
}


.TITLE{
    margin-top: 0.5%;
    padding-left: 2%;
    
}



/* FIRST BOX LEFT */

.FirstBoxLEFT{
    padding-top: 50px;
    padding-left: 10%;
    width: 70%;
    text-decoration: none;
    color: white;
}

.FirstBoxLEFT:hover{
    width: 72%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* CONFIG FOR ALL BOX TEXT */

.BoxLEFT{
    background-color: #161b22;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    border: solid #3a485c 0.1px;
}

/* CONFIG FOR ALL BOX */

.NormalBoxLEFT{

    margin-top: -10px;
    padding-left: 10%;
    width: 70%;
    text-decoration: none;
    color: white;
}

.NormalBoxLEFT:hover{
    width: 72%;  
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

/* PRINCIPAL PAGE*/

#PAGE{
    position: absolute;
    margin-left: 22%;
    margin-top: 5%;
    width: 100%;
}

/* BOX IN PRINCIPAL PAGE */

.BoxPAGE{
    background-color: #0d1117;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    border: solid #3a485c 0.1px;
    margin-left: 5%;
    width: 68%;
    margin-top: 50px;
}

/* VIEW PROJECT BUTTON */

.NormalBoxPAGE{
    background-color: #21262d;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    border: solid #3a485c 0.1px;
}

/* COLOR FOR INTEGRATION */

a{
    text-decoration: none;
    color: #41a6ff;
}

/* COLOR GRAY FOR TEXT WITH GRAY CLASS */

.gray{
    color: #8b948d;
}


.TEST{
    color: #010409;
}